<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<form action="/products" method="post">
  <label for="productId">Product ID:</label>
  <input type="text" id="productId" name="id"><br><br>

  <label for="productName">Product Name:</label>
  <input type="text" id="productName" name="name"><br><br>

  <label for="productDescription">Product Description:</label>
  <textarea id="productDescription" name="description"></textarea><br><br>

  <label for="productPrice">Product Price:</label>
  <input type="number" id="productPrice" name="price"><br><br>

  <button type="submit">Submit</button>
</form>
</body>
</html>