<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>

<body>
 <div class="container mt-5 mb-5">
      <div class="d-flex justify-content-center row">
        <div class="col-md-10" th:each="elem:${listt}">
          <div class="row p-2 bg-white border rounded">
            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" th:src="@{${elem.mainImg}}"><a th:href="@{${elem.descImg}}" target="_blank">For More >></a></div>
            <div class="col-md-6 mt-1">
              <h5 th:text="${elem.productName}"> <span th:if="${elem.newProduct == true}"><img src="new.png"></span></h5><br>
              <div class="d-flex flex-row">
                <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div><span th:text="${elem.rate}"></span>
                <div class="ratings mr-4"></div><span><img src="back.png"> <span th:text="${elem.reviews}"></span> Review</span>
                <div class="ratings mr-4"></div><span><img src="hihi.png"> <span th:text="${elem.likes}"></span>  Like</span>
              </div>
              <div class="mt-1 mb-1 spec-1"><span>100% cotton</span><span class="dot"></span><span>Light weight</span><span class="dot"></span><span>Best finish<br></span></div>
              <div class="mt-1 mb-1 spec-1"><span>Unique design</span><span class="dot"></span><span>For men</span><span class="dot"></span><span>Casual<br></span></div>
              <label for="quantity"><b>Quantity </b>(between 1 & 5) : </label><input type="number" id="quantity" name="quantity" min="1" max="5" th:value="${elem.quantity}"><input type="submit"><br>
              <span style="font-size: large;font-weight: bold;">Stock:</span><span th:text="${elem.stock}"></span>  <i>items</i>
            </div>
            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
              <div class="d-flex flex-row align-items-center">
                <h4 class="mr-1" th:text="${elem.price}"> $ </h4><div th:with="result=${elem.price + 1218}"><span class="strike-text" th:text="${result}"></span></div>&#160&#160&#160<span th:if="${elem.saleProduct == true}"><img src="bag.png"></span>
              </div>
              <h6 class="text-success">Free shipping</h6>
              <div class="d-flex flex-column mt-4"><button class="btn btn-primary btn-sm" type="button" th:text="${elem.cart}"> AddtoCart</button><button class="btn btn-outline-primary btn-sm mt-2" type="button" th:text="${elem.wishlist}"> Addtowishlist</button></div>
              <br><h6 style="font-size: large;font-weight: bold;color:crimson" th:if="${elem.bestProduct == true}"><img src="premium-quality.png">Best Product</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
